{% extends 'base.html' %}
{% block head_title %} {{ 'Location Get' }} {% endblock %}

{% block content %}

	<style>
		#map{
			height: 300px;
			width: 100%;
		}
	</style>

	<section id="one" class="wrapper spotlight style1">
		<div class="inner">
			<div class="content">
                
				<ul class="actions">
				<li><a href="stop" class="button">Deactivate devices</a></li>
			</ul>

                <br />
                <br />
                <h3>Device status</h3>
                {% for key, val in log.items %}

                {{ key  }} : {{ val  }}<br/>
                {% endfor %}
			</div>
		</div>
	</section>	

{% endblock %}
