{% extends 'base.html' %}
{% block head_title %} {{ 'Location Get' }} {% endblock %}

{% block content %}

	<style>
		#map{
			height: 300px;
			width: 100%;
		}
		input{
			color: black;
		}
		.emerg_button{
			height: 50px;
			width: 50px;
			font-size: 22pt;
			display: inline-block;
			border-radius: 100%;
    		border: solid 2px rgba(255, 255, 255, 0.125)
    		cursor: all-scroll;
    		display: inline-block;
    		font-size: 3em;
    		height: 2.25em;
    		line-height: 2.25em;
    		text-align: center;
    		width: 2.25em;
		}

		#a{
			font-family: FontAwesome, Helvetica;
			font-size: 2.2em;
		}
		#c{
			font-family: FontAwesome, Helvetica;
			font-size: 2.2em;
		}
		#b{
			font-family: FontAwesome, Helvetica;
			font-size: 2.2em;
		}
	</style>

	<section id="one" class="wrapper spotlight style1">
		<div class="inner">
			<div class="content">
               <form id="emergencyForm" action="" onsubmit="mysubmit();return false" method="post">
                   {% csrf_token %}
                   {{ form }}
               		<br/>               		
               		<br/>       
               		<input id="a" class="fa-input" type="submit" onclick="clicked='FD'" value="&#xf134;" />
               		<input id="b" class="fa-input" type="submit" onclick="clicked='MK'" value="&#xf0fa;" />
               		<input id="c" class="fa-input" type="submit" onclick="clicked='all'" value="&#xf1e2;" />
               </form> 
				<p id="map">Click the button to get your position.</p>

				<div id="mapholder"></div>
			</div>
		</div>
	</section>	
	<script type="text/javascript">
		var clicked;
		function mysubmit() {
			$("#id_command").val("start "+clicked);
    		$("#emergencyForm").submit();
		}		
	</script>
	
<script>
var x = document.getElementById("headderPar");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPositionMap(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
	var myLatLng = {lat: lat, lng: lng };

    var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: myLatLng
	});

	var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: 'Here you are!'
	});
	$("#id_lng").val(lng);
	$("#id_lat").val(lat);
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
</script>
	<div id="demo"></div>
	<script>
		var x = document.getElementById("headderPar");

		function getLocation() {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(showPosition);
		    } else { 
		        x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		}

		function showPosition(position) {
			showPositionMap(position);
		    x.innerHTML = "Your current location is -- Latitude: " + position.coords.latitude + 
		    ", Longitude: " + position.coords.longitude;	
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAhCCg_frFNc4s65YP-5jaCsnuqGZ9A_A&callback=getLocation"></script>
	<script type="text/javascript">
		/*$(document).ready(function(){ 
			getLocation();
		})*/ 
	</script>
{% endblock %}
