{% extends 'base.html' %}
{% block head_title %} {{ 'Device Index' }} {% endblock %}

{% block content %}


	<style type="text/css">
		.header_img{
			filter:blur(5px);
			-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    		filter: grayscale(100%);
		}
		.header_img:hover{
			filter:blur(1px);
			-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    		filter: grayscale(0%);
		}
	</style>
	{% 	if devices %}
	<section id="four" class="wrapper alt style1">
		<div class="inner">
			<h2 class="major">Life sucks</h2>
			<p>All devices</p>
			<section class="features">
				{% 	for device in devices %}
					<article>
						<a href="/device/view_device/{{ device.id_number }}" class="image header_img"><img src="{{ STATIC_URL }}/images/ext.jpg" alt=""></a>
						{# <a href="#" class="image"><img src="{{ STATIC_URL }}/images/pic01.jpg" alt=""></a> #}
						<h3 class="major">{{ device.human_readable_name }}</h3>
						<p>{{ device.description }}
						<a href="/device/view_device/{{ device.id_number }}" class="special">Learn more</a>
					</article>
				{% 	endfor %}
			</section>
			<ul class="actions">
				<li><a href="#" class="button">Browse All</a></li>
			</ul>
		</div>
	</section>


		
	{% 	endif %}

{% endblock %}

