{% extends 'base.html' %}
{% block head_title %} {{ 'Device Index' }} {% endblock %}

{% block content %}

	{% 	if devices %}
	<section id="four" class="wrapper alt style1">
		<div class="inner">
			<h2 class="major">Life sucks</h2>
			<p>All devices</p>
			<section class="features">
				{% 	for device in devices %}
					<article>
						<a href="#" class="image"><img src="{{ STATIC_URL }}/images/pic04.jpg" alt=""></a>
						<h3 class="major">{{ device.human_readable_name }}</h3>
						<p>{{ device.description }}
						<a href="/device/view_device/{{ device.id_number }}" class="special">Learn more</a>
					</article>
				{% 	endfor %}
			</section>
			<ul class="actions">
				<li><a href="#" class="button">Browse All</a></li>
			</ul>
		</div>
	</section>


		
	{% 	endif %}

{% endblock %}

